{% extends "blog_frame.html" %}
{% block content %}

<img src="/static/post_assets/aleksey-writes/intro.png" class="inline_image_full" alt="Data."/>

<p>
    <a href="https://github.com/ResidentMario/aleksey-writes">aleksey-writes</a> is a search index over all of the technical writing I did in my first few years in industry (2016 through 2020). I built it as a fun little side project while attending my second batch at <a href="https://www.recurse.com/">The Recurse Center</a>.
</p>

<p>
    <code class="inline_code">aleksey-writes</code> lets me grep through my notes on things I've studied in the past. Like, say, cross-entropy:
</p>

<img src="/static/post_assets/aleksey-writes/results.png" class="inline_image_full" alt="Data."/>

<p>
    The <a href="https://github.com/ResidentMario/aleksey-writes/tree/master/js">frontend</a> is in React. The <a href="https://github.com/ResidentMario/aleksey-writes/tree/master/docker">search service</a> is containerized ElasticSearch. The <a href="https://github.com/ResidentMario/aleksey-writes/tree/master/rust/html2documents/src">web scraper</a> (used to parse the plaintext) uses Rust and Bash.
</p>

{% endblock %}