{% extends "blog_frame.html" %}
{% block scripts %}
<link href="/static/css/prism.css" rel="stylesheet" />
<script src="/static/js/prism.js"></script>
{% endblock %}
{% block content %}

<img src="/static/post_assets/kaggle-learn/learn.png" class="inline_image_full" alt="Data.">

<p>
    <a href="https://www.kaggle.com/learn/overview">Kaggle Learn</a> is easily the most impactful thing I did during the nine months I worked at Kaggle.
</p>

<p>
    I contributed two microcourses, one on <a href="https://www.kaggle.com/learn/pandas">data analytics</a> and one on <a href="https://www.kaggle.com/learn/data-visualization">data visualization</a> (now archived), both in Python, to this online learning initiative. These courses eventually reached 200,000 plus learners.
</p>

<p>
    I still get emails from time to time from acquaintences or friends-of-friends that took my course on Kaggle. It's been a pretty humbling experience!
</p>

{% endblock %}