{% extends "blog_frame.html" %}
{% block scripts %}
<link href="/static/css/prism.css" rel="stylesheet" />
<script src="/static/js/prism.js"></script>
{% endblock %}
{% block content %}

<img src="/static/post_assets/kaggle-learn/learn.png" class="inline_image_full" alt="Data.">

<p>
    <a href="https://www.kaggle.com/learn/overview">Kaggle Learn</a> is a compilation of interactive data science microcourses on <a href="https://www.kaggle.com/">Kaggle</a>. I contributed two microcourses, one on <a href="https://www.kaggle.com/learn/pandas">data analytics</a> and one on <a href="https://www.kaggle.com/learn/data-visualization">data visualization</a> (now archived), to the platform.
</p>

<p>
    The course materials have reached 300,000 plus learners overall.
</p>

{% endblock %}