{% extends "blog_frame.html" %}
{% block scripts %}
<link href="/static/css/prism.css" rel="stylesheet" />
<script src="/static/js/prism.js"></script>
{% endblock %}
{% block content %}

<p>
    <a href="https://github.com/ResidentMario/missingno">missingno</a> is a small Python missing data visualization library. Named after <a href="https://en.wikipedia.org/wiki/MissingNo.">a famous glitch Pokemon character</a>, missingno exposes a series of top-level data visualizations that take <code class="inline_code">pandas</code> <code class="inline_code">DataFrame</code> objects as input and produce data nullity visualizations as output.
</p>

<p>
     <code class="inline_code">missingno</code> is my most widely used OSS code project with 2500+ GitHub stars.
</p>

<img src="/static/post_assets/missingno/missingno_matrix.png"
     class="inline_image_full" alt="Data."/>

<img src="/static/post_assets/missingno/missingno_heatmap.png"
     class="inline_image_full" alt="Data."/>

<img src="/static/post_assets/missingno/missingno_dendrogram.png"
     class="inline_image_full" alt="Data."/>

{% endblock %}