{% extends "blog_frame.html" %}
{% block scripts %}
<link href="/static/css/prism.css" rel="stylesheet" />
<script src="/static/js/prism.js"></script>
{% endblock %}
{% block content %}

<p>
    Once your data is safely localized, one of the first and most important things that you have to do at the beginning of any data analytics project is taking "a lay of the land" with your data. Data is fundamentally messy: full of oddities and noise and incomplete entries. Getting a handle on this weirdness is an essential first step to getting anything actually done with it.
</p>

<p>
    To help with that process I built <a href="https://github.com/ResidentMario/missingno">missingno</a>, a small Python missing data visualization library. Named after <a href="https://en.wikipedia.org/wiki/MissingNo.">a famous glitch Pokemon character</a>, missingno exposes a series of top-level data visualizations that take <code class="inline_code">pandas</code> <code class="inline_code">DataFrame</code> objects as input and produce data nullity visualizations as output.
</p>

<img src="/static/post_assets/missingno/missingno_matrix.png"
     class="inline_image_full" alt="Data."/>

<img src="/static/post_assets/missingno/missingno_heatmap.png"
     class="inline_image_full" alt="Data."/>

<img src="/static/post_assets/missingno/missingno_dendrogram.png"
     class="inline_image_full" alt="Data."/>

<p>
     <code class="inline_code">missingno</code> is my most widely used OSS code project with 2500+ GitHub stars. <a href="https://github.com/ResidentMario/missingno">Check it out</a>.
</p>

{% endblock %}