{% extends "blog_frame.html" %}
{% block content %}

<p>
    I’ve been reflecting a lot lately on my time as a
    <a href="https://civic.io/2016/07/05/building-the-engine-of-change/">civic technologist</a>&mdash;how I got into
    it, why I do it, what it’s meant for me as a person, and what my life goals are going forward.
</p>

<p>
    The key moment for me came when I saw a talk by Amen Ra Masheriki, the former Chief Analytics Officer of New York
    City. Amen introduced me to the concept of "open data", explaining how the data that the government (the City of
    New York, in this context) collects ought to be openly available for all of its citizens to take advantage of
    and learn from. This was a newfangled concept for me, an aimless college student with uncertain prospects.
    Before long, I was hooked.
</p>

<p>
    My path has been very heterodox. It’s been intensely exciting at times. In truth, it’s been intensely lonely,
    even scary, at others. But I know that, especially in these uncertain political times, more and more smart
    people have, as I did, turned towards civic technology as a way of making a difference.
</p>

<p>
    In this post I'll share some lessons I've learned on my own journey.
</p>

<h3>Start Local</h3>

<p>
    Particularly among "hacktivists", there is a tendency to want to focus on highly visible national issues.
</p>

<p>
    However, it’s very difficult to break into the federal space. As someone who’s considering putting time and
    effort towards making a difference with technology, you are likely internally motivated by a desire to create
    change. However, it’s very difficult to do such a thing on a national stage. You’re less likely to succeed and
    more likely to simply burn out.
</p>

<p>
    Especially if you’re just starting out in this space, I highly recommend starting locally. Find an issue
    in your city, town, university, or even neighborhood that you identify with. Find the people in your community
    that are already working on this issue or in this space; get in contact with them, and offer to help. You have
    programming skills that are extremely hard-to-get in local organizations, and, consequently, extremely valuable.
</p>

<p>
    For example, a friend of mine became incensed over recent fiascos in New York City’s subway system. I told him
    that he should get in contact with the Transit Center and the Straphangers Campaign here in NYC and ask
    how he can help. These are two local organizations whose staff and volunteers that are already actively
    dedicating their time to this issue, and anything he could do to help these organizations platform their issues
    would be far more impactful than attacking local politicians’ phone lines.
</p>

<p>
    If you don't have a specific area of focus in mind, the best place to start is probably your hometown (or
    adopted hometown) Code For America affiliate. Most large cities in the United States have one. In New York City,
    this is <a href="https://beta.nyc/">BetaNYC</a>; in Chicago, <a href="https://chihacknight.org/">Chi Hack Night</a>
    fills this need. Go to their events and get to know the other civic hackers there. Ask around and see what
    projects people are working on. See what interests you and try to get involved in that. You’ll be in on something
    in no time!
</p>

<p>
    And if you can’t find such a group, consider creating one! In this political climate, the supply of concerns
    and people wanting to work on them has never been higher.
</p>

<h3>Know Your Impact Community</h3>

<p>
    Whatever the issue or area of focus you end up deciding to work on, make understanding your
    community a top priority.
</p>

<p>
    Be cognisant of who your end users really are. It’s easy to put on blinders and ignore the fact that as nice as
    your algorithm is, it’s pretty much meaningless to end users without technical experience. The onus is on you to
    go beyond generating a result: contextualize it, explain, make it obvious to others what your result is and what
    it says about you want them to learn. Simplify whenever and whatever you can.
</p>

<p>
    For example, the most successful project I've ever worked on in visibility terms was <a
        href="http://www.residentmar.io/2016/02/09/average-chain-distance.html">my Starbucks analysis</a>.
    This project was motivated by a simple question: how commonplace is the Manhattan Starbucks? It is executed
    using a simple metric: mean distance to Starbucks. And it is bookended by a simple presentation: a bar chart
    comparing this distance for various chains. It caught lightning precisely because of how simple and identifiable
    these concepts are.
</p>

<p>
    Such presentational skills are something many newly minted software engineers struggle with precisely because they
    are not emphasized rigorously in collegiate computer science programs. But technology in government is much less
    cloistered than it is in industry. For a civic hacker explanatory skill is a day one necessity.
</p>

<p>
    Secondly, you need to know and learn from others working in your space. You fail to take advantage of the
    experience of others at your own peril. No matter what issue you're interested in, there are folks that are
    already working in this space, potentially for decades. In government, details are proprietary: procedures are
    established ad hoc, don’t always follow set rules, and are never completely documented anywhere. It’s incredibly
    easy to go into a problem thinking you know something, only to discover later that actually you were utterly,
    foolishly wrong. Flawed assumptions can tank even the brightest-looking of projects. Make working with
    stakeholders and verifying the ground truth a first-order priority.
</p>

<h3>Have a Portfolio</h3>

<p>
    This website has been immensely helpful for my career. I strongly encourage anyone working in this space to have an
    online portfolio. The people that will hire you, work with you, and volunteer with you will rarely
    evaluate you based on whiteboard algorithms - they will want to see that you have experience in the field, that
    you’ve worked on hard problems in this space and solved them, and that you’ve got a talent for explaining your
    results. Give that to them!
</p>

<h3>Go Where You Will Have Impact</h3>

<p>
    This is likely the hardest one of all: work on projects at places where they are likeliest to have the impact
    that you want to have.
</p>

<p>
    The world consists of many people doing many things, and the great and exciting and sometimes scary thing about
    civic technology is that it exposed you to many of them all at once. There is always more than one way to do
    something.
</p>

<p>
    If you want to hack on transit data, for example, you might want to find work at the
    <a href="https://groups.google.com/forum/#!topic/mtadeveloperresources/_vg_cQUBH3A">MTA data team</a>; or work on
    it in <a href="http://legistar.council.nyc.gov/DepartmentDetail.aspx?ID=8866&GUID=72EEA817-E6FF-4051-B853-BC1DAD04E8CC">City Council</a>;
    or at a non-profit like <a href="http://transitcenter.org/">Transit Center</a>; or a
    for-profit company in the space (like <a href="https://maps.google.com/landing/transit/index.html">Google Transit</a>
    or the <a href="https://transitapp.com/">Transit</a> app team); or a research project at <a href="http://cusp.nyu
    .edu/">NYU CUSP</a> or <a href="https://tech.cornell.edu/">Cornell Tech</a>; or keep your day job and hack on it
    nights and weekends; or set up a hackathon or ideathon at a local tech meetup; or create or work in a startup
    (like <a href="http://www.argolabs.org/">ARGO Labs</a> or <a href="https://www.sidewalklabs.com/">Sidewalk
    Labs</a>); or hack on it with/for a local
    publication like <a href="http://www.amny.com/">amNY</a>; or enroll in a degree program at NYU CUSP or Cornell
    Tech, and launch into it that way.
</p>

<p>
    All of these approaches have pluses and minuses. As someone very early in your career, it’s very hard to know
    which way works best for you. The only advice I can give is to try to explore as many of these options as
    possible. Talk to people that have gone particular ways, and learn from their experiences what the tradeoffs are.
    Try and get some first-hand experience by working on projects with a variety of organizations. The experience
    will guide you down the road.
</p>

<p>
    Oh, and if you’re on the Google/Microsoft/Amazon/Facebook et cetera career track, know that anywhere else you go
    will be far more financially precarious. Later in your career, the pay and prestige that comes with working in
    privileged tech companies like these will matter far less; but when you’re in your early 20s the feeling that
    you’ve "made it" by working there feels terribly important. Many, many people work potentially unrelated jobs in
    the daytime and moonlight on civic projects nights and weekends. It's a valid thing to do.
</p>

<h3>Create and Maintain Connections</h3>

<p>
    Finally, my last piece of advice is: work hard to create and maintain connections to the other civic technologists.
</p>

<p>
    In the government, who knows what matters less than who knows who (just ask lobbyists). Positions and places that
    you will want and that will want to hire you and/or work with you will rely very heavily on reputation, and
    knowing you ahead of time. You need to have a strong network in place in order to be able to find and capitalize on
    opportunities, a network you can only form with work, time, and exposure.
</p>

<p>
    So put yourself out there!
</p>

{% endblock %}