{% extends "blog_frame.html" %}
{% block scripts %}
<link href="/static/css/prism.css" rel="stylesheet" />
<script src="/static/js/prism.js"></script>
{% endblock %}
{% block content %}

<p>
    The New York City Council Committee on Technology held a hearing on Wednesday, 9/21/2016, to discuss open data and
    open data legislation.
</p>

<p>
    The hearing was backended by a testimony given by Amen Ra Masheriki, New York City's chief analytics officer and
    head of the Mayor's Office of Data Analytics (and my former boss&mdash;I interned there over the summer), and Albert
    Webber, who heads the DoITT team that runs the New York City <a href="https://nycopendata.socrata.com/">open data
    portal</a> itself.
</p>

<p>
    Further testimonies were given by folks representing <a href="http://betanyc.us/">BetaNYC</a>, <a
        href="http://reinventalbany.org/">Reinvent Albany</a>, <a href="http://opengov.com/">OpenGov</a>, a newly
    founded privacy advocacy group, and...myself!
</p>

<p>
    I gave a short talk, on invitation from the Council, about what open data has meant for me and where I see it going
    in the future. Here's what I had to say:
</p>

<iframe width="800" height="450" src="https://www.youtube.com/embed/U7T2Hwj3vjc" frameborder="0"
        allowfullscreen></iframe>

<p>
    The full hearing recording is <a href="http://legistar.council.nyc.gov/DepartmentDetail.aspx?ID=8866&GUID=72EEA817-E6FF-4051-B853-BC1DAD04E8CC#">
    available online</a>.
</p>

{% endblock %}