{% extends "blog_frame.html" %}
{% block scripts %}
<link href="/static/css/prism.css" rel="stylesheet" />
<script src="/static/js/prism.js"></script>
{% endblock %}
{% block content %}

<p>
    <code class="inline_code">geoplot</code> is a tool which fills a gap which I have perceived, in my own work, as
    a serious shortcoming in the geospatial Python ecosystem: the need for a high-level geospatial plotting library.
</p>

<p>
    Geospatial data is any form of data which has a location to it. Most of the data generated today has such a
    geospatial context, context which is, in turn, oftentimes important to understanding the data itself. Thanks to
    its ease-of-use and deep ecosystem, the Python programming language has emerged as a leading choice in the
    performance of data analytics, geospatial data analytics included.
</p>

<p>
    <code class="inline_code">geoplot</code> aims to be seaborn for geospatial data. Hence it comes with the following
    features built-in:
</p>

<ul class="simple">
<li>
    <b>High-level plotting API</b>: <code class="inline_code">geoplot</code> is cartographic plotting for
    the 90% of use cases. All of the standard-bearer maps that you’ve probably seen in your geography textbook are
    easily accessible, as are many more novel options.
</li>
<li>
    <b>Native projection support</b>: The most fundamental peculiarity of geospatial plotting is
    projection: how do you unroll a sphere onto a flat surface (a map) in an accurate way? The answer depends on what
    you’re trying to depict. <code class="inline_code">geoplot</code> provides these options.
</li>
<li>
    <b>Compatibility with matplotlib</b>: While <code class="inline_code">matplotlib</code> is not a good
    fit for working with geospatial data directly, it’s a format that’s well-incorporated by other geospatial
    tools. For compatibility, <code class="docutils literal"><span class="inline_code">geoplot</span></code> provides an
    option for emiting pure <code class="inline_code">matplotlib</code> plots.
</li>
<li>
    <b>Built with modern geospatial Python in mind</b>: Geospatial data is a fast-moving target in the
    Python ecosystem. Innovations in recent years have made working with such data much easier than it once was, which
    <code class="inline_code">geoplot</code> leverages with an easy-to-use and widely compatible API.
</li>
</ul>

<p>
    Here are some examples of things that <code class="inline_code">geoplot</code> can do:
</p>


<img src="/static/post_assets/geoplot/nyc-collision-factors-thumb.png"
     class="inline_image" alt="Data." style="float:left;"/>

<img src="/static/post_assets/geoplot/los-angeles-flights-thumb.png"
     class="inline_image" alt="Data." style="float:right;"/>

<img src="/static/post_assets/geoplot/usa-city-elevations-thumb.png"
     class="inline_image" alt="Data." style="float:left;"/>

<img src="/static/post_assets/geoplot/nyc-parking-tickets-thumb.png"
     class="inline_image" alt="Data." style="float:right;"/>

<img src="/static/post_assets/geoplot/dc-street-network-thumb.png"
     class="inline_image" alt="Data."/>

<p>
    Head over to the <a href="https://github.com/ResidentMario/geoplot">the GitHub repository</a> to learn more.
</p>

{% endblock %}