{% extends "blog_frame.html" %}
{% block content %}

<p>
    I gave a talk on the design process titled "Implementing Good Design" for the <a
        href="https://www.meetup.com/NYC-D3-JS/events/234355571/">September 2016 D3.JS NYC meetup</a>, you can get the
    slides from the talk <a
        href="https://docs.google.com/presentation/d/1yWq3sVu_k7Xm_faqgVF8acfgSr9yYOlWmj2I7cB2tTo/edit?usp=sharing">
    here</a>, and a screen capture of the presentation itself is <a
        href="https://www.youtube.com/watch?v=yJESSO0wZzk">up on YouTube</a>.
</p>

<iframe width="800" height="450" src="https://www.youtube.com/embed/yJESSO0wZzk" frameborder="0"
        allowfullscreen></iframe>

{% endblock %}