{% extends "blog_frame.html" %}
{% block scripts %}
<link href="/static/css/prism.css" rel="stylesheet" />
<script src="/static/js/prism.js"></script>
{% endblock %}
{% block content %}

<p>
    Once your data is safely localized, one of the first and most important things that you have to do at the beginning
    of any data analytics project is taking "a lay of the land" with your data. Data is fundamentally messy: full of
    oddities and noise and incomplete entries. Getting a handle on this weirdness is an essential first step to getting
    anything actually done with it, and as much as 80% of project time might end up getting sunk in it.
</p>

<p>
    To help with that process I built <code class="inline_code">missingno</code>, a missing data visualization tool and
    the subject of this post. The package (<a href="https://en.wikipedia.org/wiki/MissingNo.">still can't believe the
    name was never taken</a>) exposes a series of top-level data visualizations taking pandas <code
        class="inline_code">DataFrame</code> as input and gives up-tweaked data nullity visualizations as output:
</p>

<img src="/static/post_assets/missingno/missingno_matrix.png"
     class="inline_image_full" alt="Data."/>

<img src="/static/post_assets/missingno/missingno_heatmap.png"
     class="inline_image_full" alt="Data."/>

<img src="/static/post_assets/missingno/missingno_dendrogram.png"
     class="inline_image_full" alt="Data."/>


<p>
    Head over to the <a href="https://github.com/ResidentMario/missingno">the GitHub repository</a> to learn more.
</p>


{% endblock %}