{% extends "blog_frame.html" %}
{% block scripts %}
<link href="/static/css/prism.css" rel="stylesheet" />
<script src="/static/js/prism.js"></script>
{% endblock %}
{% block content %}

<p>
    Once your data is safely localized, one of the first and most important things that you have to do at the beginning
    of any data analytics project is taking "a lay of the land" with your data. Data is fundamentally messy: full of
    oddities and noise and incomplete entries. Getting a handle on this weirdness is an essential first step to getting
    anything actually done with it, and as much as 80% of project time might end up getting sunk in it.
</p>

<p>

</p>

{% endblock %}