{% extends "blog_frame.html" %}
{% block scripts %}
{% endblock %}
{% block content %}
<img src="/static/post_assets/second-avenue-subway/second-avenue-subway-splash.jpg" class="inline_image_full"
     alt="Data."/>

<p>
    The first phase of the long-awaited <a href="https://en.wikipedia.org/wiki/Second_Avenue_Subway">Second Avenue
    Subway</a> opened to the public just two weeks ago, bringing with it an end to a on-and-off-again funding saga
    going back to the line's original proposal in 1919—almost 90 years ago. The completed project adds three new
    stops on the East Side, partially relieving the pressure on the only other line there, 4/5/6 Lexington Avenue (not
    inconsequentially, the busiest line in the system).
</p>

<p>
    The completion of Phase 1 reignited a never really dormant conversation on the escalating cost and dysfunction of
    transportation megaprojects. The entire Second Avenue Subway at large was once estimated to need the equivalent of
    $2.4 billion in 2016 dollars; Phase 1 took $4.5 billion instead, and Phase 2, which will add a further three
    stops north of 96th Street, the funding for which is still being arranged, is to cost a cool $6 billion. Phases 3
    and 4 are still on the drawing table.
</p>

<p>
    To put that cost in context, here are some other New York City icons and megaprojects, new and old, in terms of
    how many of them the Second Avenue Subway Phase 2 could build.
</p>

<iframe src="{{request.url_root}}visualizations/second-avenue-subway.html" marginwidth="0" marginheight="0"
        scrolling="no" style="height:500px; width:800px; border:0"></iframe>

{% endblock %}