<!DOCTYPE html>
<html>
<head>
    <title>A Week in the Life of a CitiBike</title>

    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map-canvas { height: 100% }
    </style>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css'
    	rel='stylesheet' type='text/css'/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
</head>
<body>
    <div id="map-canvas"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src="/static/js/d3.v3.js"></script>
    <script src="https://d3js.org/d3-queue.v3.js"></script>
    <script src="/static/js/L.D3SvgOverlay.js"></script>
    <script>

        // Initializes the basemap.
        var map = L.map("map-canvas",{center:[40.773889, -73.983611],zoom:12});
        L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
            subdomains: 'abcd',
            maxZoom: 19
        }).addTo(map);

        // D3-SVG-Overlay callback wrapper. Leaflet is used only for the base map, all of the programmatic action occurs
        // in d3 code inside of this callback.
        var mapOverlay = L.d3SvgOverlay(function(sel,proj){

            // Paints a single sampler path.
            // Accepts a linearray (an array of points) as input, as well as the position of the line being drawn in
            // placement order (used to implement the intro visualization speedup).
            function paintPath(linearray, index) {

                // The timeout callback wrapper causes the drawing function inside to fire at the odd interval we
                // want for the purposes of our intro.
                var line = d3.svg.line()
                        .x(function(d) { return proj.latLngToLayerPoint(d).x})
                        .y(function(d) { return proj.latLngToLayerPoint(d).y})
                        .interpolate("basic-open");

                // TODO: Learn why this is different from below.
                var updateSelection = sel.selectAll('path').data(linearray);
                updateSelection.enter()
                        .append("path")
                        .datum(linearray)
                        // TODO: Troubleshoot why the line is so funky.
                        .attr({
                            "class": "sample-line",
                            "d": line,
                            "fill": "transparent",
                            "stroke": "steelblue",
                            "stroke-width": 2,
                            "shape-rendering": "crispEdges"
                        });

                // Old code with a working time-out, before the multi-plot fix arrived.
//                setTimeout(function() {
//                    // Define x and y conversions.
//                    var line = d3.svg.line()
//                            .x(function(d) {
////                                console.log(d);
////                                console.log(proj.latLngToLayerPoint(d));
////                                console.log(proj.latLngToLayerPoint(d).x);
//                                return proj.latLngToLayerPoint(d).x
//                            })
//                            .y(function(d) { return proj.latLngToLayerPoint(d).y});
//
////                    console.log(line(linearray));
//
//                    sel.append("path")
//                            // TODO: Troubleshoot why the line is so funky.
//                            .attr({
//                                "class": "sample-line",
////                                "d": line(linearray),
//                                "d": "M964,313L963,315L962,317L961,320L960,322L959,323L958,324L958,325L957,327L957,327L952,324L952,324L950,323L947,322L946,321L944,320L944,320L944,320L944,321L943,323L943,324",
//                                "fill": "none",
//                                "stroke": "steelblue",
//                                "stroke-width": 1
//                            });
//                            // TODO: Implement a transition to create a glow and an after wait time.
//                    // TODO: Continue to fiddle with the easing time function.
//                }, 500 + i*50 + i^1.05);
            }

            // Paints a single sampler path (paints things as a pile of points).
            // Test method, now disused.
            function paintPointPath(pointarray) {
                console.log(pointarray);
                sel.append('g')
                        .selectAll('circle')
                        .data(pointarray)
                        .enter()
                        .append('circle')
                        .attr({
                            "cx": function (d) {
                                return proj.latLngToLayerPoint(d).x;
                            },
                            "cy": function (d) {
                                return proj.latLngToLayerPoint(d).y;
                            },
                            "r": 0.2
                        });
            }

            // Paint all of the sampler paths.
            function paintPathSampler() {
                d3.json("../../static/post_assets/citibike/bike_week_sampler.json", function (data) {
                    for(i=0; i<data.length; i++) {
                        paintPath(data[i], i)
                    }
//                    paintPath(data[0]);
//                    paintPath(data[1]);
                });
            }

//            function paintPathSampler() {
//                d3.json("../../static/post_assets/citibike/bike_week_sampler.json", function (data) {
//                    console.log(data);
//                    console.log(data[0]);
//
//                    paintPointPath(data[0]);
//
//                });
//            }

            function delayedHello(callback) {
                setTimeout(function() {
                    console.log("Hello!");
                    callback(null);
              }, 10);
            }

            q = d3.queue();
            q.defer(paintPathSampler);
            q.defer(delayedHello);
            q.await(function(error) {
                if (error) throw error;
                console.log("Goodbye!");
            });

            // ACTUAL CODE
            // Now we define the functions to be called as part of the visualization.


            // Set up a d3 queue for managing event order.
//            var q = d3.queue();
//            d3.csv("nyc-starbucks-locations.csv", function(data) {
//                sel.selectAll('circle')
//                        .data(data)
//                        .enter()
//                        .append('circle')
//                        .attr({
//                            "cx": function(d) { return proj.latLngToLayerPoint([d.latitude, d.longitude]).x; },
//                            "cy": function(d) { return proj.latLngToLayerPoint([d.latitude, d.longitude]).y; },
//                            "r": 4
//                        });
//            });
        });

        // Add overlay to map.
        mapOverlay.addTo(map);
    </script>
</body>
</html>