<!--
    TODO: (1) Station selection (toggle on click).
    TODO: (2) Station select counter in the corner.
    TODO: (3) Plot station polylines on click (possibly with loading pane).
    TODO: (4) Possibly add box select?
    TODO: (5) Launch buttons.
    TODO: (6) Description, launch button text that loads on hover.
-->
<!DOCTYPE html>
<html>
<head>
    <title>A Day in the Life of CitiBike</title>

    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map-canvas { height: 100% }
        /*Note that I use a CSS control to change the cursor from a draggy hand to a regular one as well in order to*/
        /*keep users from thinking it is interactive at the beginning.*/
        /*This is necessary because to keep from distractions the intro animation has zoom and pan disabled.*/
        .leaflet-container {
            cursor: default !important;
        }
        /*Code for d3.tip*/
        .d3-tip {
            line-height: 1.25;
            padding: 12px;
            background: whitesmoke;
            color: black;
            border-radius: 2px;
            font-family: Roboto;
            border:1px solid #999;
        }
    </style>


    <link href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css'
    	rel='stylesheet' type='text/css'/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
</head>
<body>
    <div id="map-canvas"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src="/static/js/d3.v3.js"></script>
    <script src="https://d3js.org/d3-queue.v3.js"></script>
    <script src="/static/js/L.D3SvgOverlay.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script>

        // Initializes the basemap.
        var map = L.map("map-canvas", {
            center: [40.7300355,-74.0143414,13],
            zoom: 13,
            zoomControl: false, // No zooming on initialization because it messes with the drawing.
            scrollWheelZoom: false
        });
        // No drag or keyboard panning either, for the same reason.
        map.dragging.disable();
        map.keyboard.disable();
        // Note that I use a CSS control to change the cursor from a draggy hand to a regular one as well in order to
        // keep users from thinking it is interactive at the beginning.
        L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
            subdomains: 'abcd',
            maxZoom: 19
        }).addTo(map);

        // D3-SVG-Overlay callback wrapper. Leaflet is used only for the base map, all of the programmatic action occurs
        // in d3 code inside of this callback.
        var mapOverlay = L.d3SvgOverlay(function(sel,proj){

            // Paints a single sampler path.
            // Accepts a linearray (an array of points) as input, as well as the position of the line being drawn in
            // placement order (used to implement the intro visualization speedup).
            // Note that this method is called every time that the paths must be redrawn, and since the paths are
            // redrawn (by L.d3SvgOverlay) every time the zoom level is changed, each time that occurs all of the paths
            // have to be deleted and recreated. This method only handles creating one single line again; the
            // paintPointPath method, which is what is actually called every time a redraw occurs, handles deleting and
            // recalling this function to re-plot all of the lines.
            function paintPath(linearray, index) {

                // Define the SVG line reprojection function.
                var line = d3.svg.line()
                        .x(function(d) { return proj.latLngToLayerPoint(d).x})
                        .y(function(d) { return proj.latLngToLayerPoint(d).y});

                // Create a path, bind the line array to its __data__, and call line on it to generate the line-code.
                // TODO: More points! Muh ha ha.
                setTimeout(function() {
                    sel.append('path').datum(linearray)
                            .attr({
                                "class": "sample-line",
                                "d": line,
                                "fill": "transparent",
                                "stroke": "white",
                                "stroke-width": 3,
                                "vector-effect": "non-scaling-stroke"
                            })
                            .transition()
                            .duration(2500)
                            .attr({
                                "stroke": "steelblue"
                            })
                }, 25*i);
            }

            // Paint all of the sampler paths. Wraps paintPath(), above, with consideration removing old paths.
            function paintPathSampler() {
                // Remove all of the existing paths first, otherwise we keep old ones!
                sel.selectAll('path').remove();

                d3.json("../../static/post_assets/citibike/sample_trips.json", function (data) {
                    for(i=0; i<data.length; i++) {
                        paintPath(data[i], i);
                    }
                });
            }

            // Waits the amount of time necessary to let the into anim finish and pulls up the intro screen.
            function displayInfo() {

                // Fade the background to white after a certain amount of time.
                sel.append("rect")
                        .attr({
                            "fill": "#fff",
                            "width": "100%",
                            "height": "100%",
                            "fill-opacity": 0.0,
                            "class": "background-panel"
                        })
                        .transition()
                        .delay(3500)
                        .duration(2000)
                        .attr("fill-opacity", 0.65);

                // Append the intro text (body) after a certain amount of time.
                // I want to align the description with the map, but the exact position of the map (in terms of its y
                // coordinates) varies with the height of the screen. So I was a little bit clever and calculated the
                // x and y coordinates of the northmost CitiBike station, using the projection, and then calculated a
                // pixel offset from there.
                setTimeout(function() {
                    d3.select("#map-canvas")
                            .append("div")
                            .attr("id", "description-block")
                            .style({
                                "position": "absolute",
                                "width": "400px",
                                "height": "640px",
                                "top": proj.latLngToLayerPoint([40.784642, -73.970002]).y + "px",
                                "left": proj.latLngToLayerPoint([40.784642, -73.970002]).x - 720 + "px",
                                "background": "#fff",
                                "border-radius": "25px",
                                "opacity": 0.0,
                                "padding": "10px"
                            })
                            .transition()
                            .duration(2000)
                            .style({
                                "opacity": 1.0
                            });

                    // Append title.
                    d3.select("#description-block")
                            .append("div")
                            .style({
                                "font-size": "24px",
                                "font-family": "Roboto",
                                "font-weight": "bold",
                                "text-align": "center"
                            })
                            .text("A Day in the Life of CitiBike")
                }, 6000);

            }

            // Paints the stations on the map.
            function paintStations() {
                d3.csv("../../static/post_assets/citibike/july_22_station_metadata.csv", function(error, dataset) {
                    if (error) throw error;

                    // 1431 is the observed maximum bike trip count---Pershing Square North @ Grand Central Station.
                    station_color_scale = d3.scale.linear().domain([0, 1500]).range(["#a7c4dd", "#152635"]);

                    setTimeout(function() {
                        sel
                                .append("g")
                                .selectAll("circle")
                                .data(dataset)
                                .enter()
                                .append("circle")
                                .attr({
                                    "cx": function (d) {
                                        return proj.latLngToLayerPoint([d.latitude, d.longitude]).x
                                    },
                                    "cy": function (d) {
                                        return proj.latLngToLayerPoint([d.latitude, d.longitude]).y
                                    },
                                    "r": 0,
                                    "stroke": "white",
                                    "stroke-width": 2,
//                                    "fill": "steelblue"
                                    "fill": function(d) {
//                                        console.log(d['all trips'] + " " + station_color_scale(d['total trips']));
                                        return station_color_scale(d['all trips']);
                                    }
                                })
                                .on('mouseover', function(d, i){
                                    d3.select(this)
                                        .attr({
                                            "stroke": "white",
                                            "stroke-width": 4,
                                            "r": 10
                                        });
                                    tip.show(d, i);
                                })
                                .on('mouseout', function(d, i) {
                                    d3.select(this)
                                            .attr({
                                                "stroke": "white",
                                                "stroke-width": 2,
                                                "r": 5
                                            });
                                    tip.hide(d, i);
                                })
                                .transition()
                                .duration(500)
                                .attr({
                                    "r": 5
                                })
                    }, 6000);
                });
            }

            // Set up the display tip.
            var tip = d3.tip()
                .attr('class', 'd3-tip')
                .offset(function() {
                    return [-20, -30]
                })
                .html(function(d) {
                    return  "<div style='text-align:center'>" +
                            "<span style='font-weight:bold; font-size:16px;'>" +
                            d['station name'] +
                            "</span><br/><span style='font-size:12px;'>" +
                            d['all trips'] +
                            " &#128690; Trips ("
                            + d['incoming trips']
                            + " In, "
                            + d['outgoing trips'] + " Out)"
                            + "</span></div>";
            });
            sel.call(tip);

            // SVG images preserve the order of the elements that are placed on them, so the information pane's overlay
            // (with transparent opacity) must be placed first, and the sampler points afterwards.
            paintPathSampler();
            displayInfo();
            paintStations();
//            q = d3.queue();
//            q.defer(paintPathSampler);
//            q.defer(delayedHello);
//            q.await(function(error) {
//                if (error) throw error;
//                console.log("Goodbye!");
//            });

        });

        // Add overlay to map.
        mapOverlay.addTo(map);
    </script>
</body>
</html>