<!DOCTYPE html>
<meta charset="utf-8">
<style>

#boroughs {
    fill: #eee;
    stroke: gray;
    stroke-width: 1px;
    display: block;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
    stroke-width: 2;
    stroke: black;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

</style>
<script src="/static/js/d3.v3.js"></script>
<link href='/static/css/roboto.css' rel='stylesheet' type='text/css'>

<body>
    <div id="geo_viz">

    </div>
    <div id="bar_chart">

    </div>
</body>

<script>

    d3.json("../static/post_assets/nyc-addresses/streets.geojson", function(error, streets) {

        // Data is stored in order so we can get the maximum by simply accessing the first.
        var bar_svg = d3.select("#bar_chart").append("svg");

        var max_street_length = streets['features'][0]['properties']['distance'];
        var width = 960;
        var bar_chart_height = 250;
        var bar_padding = 1;
        var bar_width = (width - 55) / streets['features'].length - bar_padding;
        var max_height = bar_chart_height;
        var scaled_unit = bar_chart_height / max_street_length;
        bar_svg.attr({
            "width": width,
            "height": bar_chart_height,
            "shape-rendering": "crispEdges"
        });

        var map_height = 500;

        var proj = d3.geo.mercator()
                .center([-74.00, 40.70])
                .scale(50000)
                .translate([(width) / 2, (map_height) / 2]);

        var path = d3.geo.path()
                .projection(proj);

        var geo_svg = d3.select("#geo_viz").append("svg");
        d3.json("../static/post_assets/landowners/nyc.json", function(error, nyb) {

            geo_svg.attr({
                        "width": width,
                        "height": map_height
//                        "shape-rendering": "crispEdges"
                    });


            // Load and plot the points.
            geo_svg
                    .attr("id", "boroughs")
                    .selectAll(".state")
                    .data(nyb.features)
                    .enter().append("path")
                    .attr("class", function (d) {
                        return d.properties.name;
                    })
                    .attr("d", path);

        });

        var y = d3.scale.linear().domain([10, 0]).range([30, max_height - 5]);

        var yAxis = d3.svg.axis()
                .scale(y)
                .orient("left");

        bar_svg.append("g")
                .attr("class", "axis")
                .attr("transform", "translate(" + 50 + ",0)")
                .call(yAxis);

        bar_svg.selectAll(".bar")
                .data(streets.features)
                .enter()
                .append("rect")
                .attr({
                    "class": "bar",
                    "fill": "steelblue",
                    "width": bar_width,
                    "height": function(d) { return 250 - y(d.properties.distance) - 5; },
                    "x": function(d, i) { return ((bar_width + 1) * i) + 55; },
                    "y": function(d) { return y(d.properties.distance); }
                })
                .on("mouseover", function(d) {
                    geo_svg.append("path")
                            .attr({
                                "class": "display-path",
                                "d": path(d),
                                "stroke": "steelblue",
                                "stroke-width": 2,
                                "fill": "transparent"
                            });
                })
                .on("mouseout", function(d) {
                    d3.select(".display-path").remove();
                });

        bar_svg.selectAll(".length-label")
                .data(streets.features)
                .enter()
                .append("text")
                .attr({
                    "fill": "black",
                    "x": function(d, i) { return ((bar_width + 1) * i) + 55 + bar_width / 2; },
                    "y": function(d) { return y(d.properties.distance) - 5; },
                    "text-anchor": "middle",
                    "font-size": 12,
                    "font-family": "Roboto"
                })
                .text(function(d) { return Math.round(d.properties.distance * 100) / 100; } );

        // From http://stackoverflow.com/questions/196972/convert-string-to-title-case-with-javascript
        function toTitleCase(str) {
            return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
        }

        bar_svg.selectAll(".street-label")
                .data(streets.features)
                .enter()
                .append("text")
                .attr({
                    "class": "street-label",
                    "fill": "white",
                    "x": 0,
                    "y": 0,
                    "font-size": 14,
                    "font-family": "Roboto",
                    "alignment-baseline": "middle",
                    "font-weight": "bold",
                    "transform": function(d, i) { return "translate(" + (((bar_width + 1) * i) + 60 + bar_width / 2) +
                            "," + (bar_chart_height - 10) + ")rotate(-90)" }
                })
                .text(function(d) { return toTitleCase(d.properties.name); } );
    });

</script>