<!DOCTYPE html>
<meta charset="utf-8">

<link rel= "stylesheet" type= "text/css" href= "/static/css/roboto.css">
<script src="/static/js/d3.v3.js"></script>

<script>
    d3.json("/static/json/post_list.json", function(error, dataset) {
        if (error) throw error;

        var rand_post_nums = [];
        while (rand_post_nums.length < 3) {
            var num = Math.floor(Math.random() * dataset.length);
            if (rand_post_nums.indexOf(num) == -1) {
                rand_post_nums.push(num);
            }
        }

        console.log(rand_post_nums);

        var frame = d3.select("g");

        var images = frame
                .append("table")
                .attr({
                    "class": "posts_table"
                }).append("tr")
                .append("g");

        images.selectAll("g")
                .data(rand_post_nums)
                .enter()
                .append("td")
                .attr("class", "post_item")
                .append("a")
                .attr({
                    "href": function(d) { return dataset[d]['route']; }
                })
                .append("img")
                .attr({
                    "src": function(d) { return '/static/post_snaps/' + dataset[d]['snap']; }
                })
                .attr("class", "post_image");

        var desc = frame.append("table")
                .attr("class", "post_descriptions")
                .append("tr")
                .append("g");

        desc.selectAll("g").append("tr")
                .data(rand_post_nums)
                .enter()
                .append("td")
                .append("a")
                .attr("href", function(d) { return dataset[d]['route']; })
                .attr("class", "post_desc navigation-link")
                .text(function(d) { return dataset[d]['title']; })
    });
</script>

<g>

</g>