<!DOCTYPE html>
<meta charset="utf-8">
<link rel= "stylesheet" type= "text/css" href= "/static/css/roboto.css">

<!--<style>-->
<!--.axis path,-->
<!--.axis line {-->
    <!--fill: none;-->
    <!--stroke: black;-->
    <!--shape-rendering: crispEdges;-->
<!--}-->

<!--.axis text {-->
    <!--font-family: sans-serif;-->
    <!--font-size: 11px;-->
<!--}-->
<!--</style>-->

<script src="//d3js.org/d3.v3.js"></script>
<!--<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>-->
<script src="/static/js/d3.tip.js"></script>
<style>
.d3-tip {
    line-height: 1;
    font-weight: bold;
    border-radius: 2px;
    font-family: Roboto, sans serif;
    color:#252525;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
</style>

<script>

//    var axis_scale = d3.scale.linear().domain([800, 12000]).range([15, 960 - 150]);
//    var color_map = d3.scale.linear().domain([800, 12000]).range(["#0040ff", "#b3c6ff"]);
//    var x_axis = d3.svg.axis().scale(axis_scale).orient("bottom").ticks(10);

    var mindate = new Date(2015, 9, 31);
    var maxdate = new Date(2016, 2, 1);
    var date_scale = d3.time.scale().domain([mindate, maxdate]).range([800, 0]);
//    var x_axis = d3.svg.axis().scale(date_scale).orient("bottom").ticks(d3.time.month, 1);
    var y_pos = 300;
    var offset = 60;

    var tip = d3.tip()
      .attr('class', 'd3-tip')
      .offset([-10, 0])
      .html(function(d) {
        return "<div style='text-align:center; width:400px; background:#aaa;'>" +
                "<img src='/static/post_snaps/" + d['snap'] + "' style='height:200px; width:400px;'/>" +
                "<div style='padding:10px;'>" +
                d['title'] +
                "</div></div>";
//                "<img src='../static/post_snaps/'" +
//                '<img src="/static/post_snaps/"' + 'average-chain-distance.png' + '/>';
//                " style='height:200px;                 width:400px;'/>";
//                "<img src='./static/post_snaps/'" + d['snap'] + " style='width:400px; height:200px;'>";
//                "<img src='./static/post_snaps/average-chain-distance.png'" + "style='width:400px; height:200px;/>'";
      });

    d3.json("../../static/json/post_list.json", function(error, dataset) {
//    d3.json("../static/json/post_list.json", function(error, dataset) {
        if (error) throw error;

        var frame = d3.select("g")
                .append("svg")
                .attr({
                    "width": "960px",
                    "height": "320px"
                });
        frame.call(tip);
//        frame.append("line")
//                .attr({
//                    "y1": y_pos,
//                    "y2": y_pos,
//                    "x1": offset,
//                    "x2": 800 + offset
//                })
//                .style({
//                    "stroke":"gray",
//                    "stroke-width": 5,
//                    "shape-rendering": "crispEdges"
//                });
        frame.selectAll("g")
                .data(dataset)
                .enter()
                .append("a")
                .attr({
                    "xlink:href": function(d) { return d['route']; }
//                    "xlink:title": function(d) { return d['title']; }
                })
                .append("circle")
                .attr({
                    "class": "entry",
                    "cy": y_pos,
                    "cx": function(d) {
//                        console.log(d);
                        console.log(d['month']);
                        var date = new Date(d['year'], d['month'] - 1, d['day']);
                        // ^ I have no idea where this fencepost error comes from.
//                        console.log(date);
//                        console.log(date_scale(date));
                        return date_scale(date) + offset; },
//                    "cy": function(d) { return date_scale(Date(d['year'], d['month'], d['day'])); },
                    "r": 10
//                    "width": function(d) { return axis_scale(d['distance']); },
//                    "fill": function(d) { return color_map(d['distance']); }
                })
                .style({
//                    "fill":"#aaa",
                    "fill": "gray",
//                    "fill": "white",
                    "stroke": "#1a1a1a",
                    "stroke-width": 4
                })
                .on('mouseover', tip.show)
                .on('mouseout', tip.hide);

//                .on("mouseover", function() { d3.select(this).attr("fill", "#b3c6ff"); });
//                .on("mouseout", function(d) {
//                    d3.select(this).attr("fill", function(d) { return color_map(d['distance']); });
//                });
//        frame.append("g")
//                .attr({
                    // Activate CSS selectors.
//                    "class": "axis"
                    // Move the axis to the bottom.
//                    "transform": "translate(120, 1340)"
//                })
//                .call(x_axis);
    });
</script>

<g>

</g>