body {
    background-color: white;
    overflow-x:hidden;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}
#header {
    /* Slightly hacky CSS to get the top navbar to align flush. */
    background: black;
    margin-top:-10px;
    margin-left: -20px;
    margin-right: -20px;
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
    border-bottom:3px solid gray;
    font-size:28px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
}
#frame {
    width:800px;
    margin:auto;
    background:transparent;
}
#navbar {
    width:800px;
    margin:auto;
    z-index: -1;
}
#content {
    font-size:17px;
    line-height:1.5em;
    color: #252525;
    margin-top:45px;
}
#footer {
    width:inherit;
    margin:auto;
    font-size:14px;
    /*font-family: 'Garamond', 'sans-serif';*/
    color:#888888;
}
#blog_navbar {
    width:inherit;
    margin:auto;
}
#blog_previously_links {
    font-size:20px;
    margin-bottom:50px;
    font-style: italic;
    max-width:400px;
    float:right;
    margin-top:50px;
}
#blog_next_links {
    font-size:20px;
    margin-bottom:50px;
    font-style: italic;
    max-width:400px;
    float:left;
    margin-top:50px;
}
#postdate {
    color:#aaa;
    font-style:italic;
}
#navbar_iframe {
    width:800px;
    height:215px;
    border:0;
    overflow:hidden;
}
.inline_quote {
    width:inherit;
    padding: 0 0 0 25px;
    border-left:5px solid #aaa;
    /*background:#f0f5f5;*/
    color:#595959;
}
.inline_quote:hover {
    border-left:5px solid #262626;
    color:#252525;
}
.language-python {
    font-size: 12px;
}
.inline_code {
    font-family:Courier,monospace;
    font-size:14px;
    border:1px solid gray;
    padding-left:2px;
    padding-right:2px;
    background:#eee;
    font-weight:bold;
}
.inline_image {
    width:50%;
    display:flex;
    margin: 40px auto;
}
.inline_image_full {
    width:inherit;
    display:flex;
    margin: 40px auto;
}
.inline_iframe {
    transform:translate(-95px, 0);
    width:960px;
    height:500px;
    border:0;
    overflow:hidden;
}
.addendum {
    width:inherit;
    color:#aaa;
}
.posts_table, .post_descriptions {
    width:800px;
    margin: auto;
    display: block;
}
.post_item {
    border:1px solid black;
    border-radius:2px;
    padding:0;
    width:260px;
}
.post_desc {
    font-family: Roboto, sans serif;
    font-weight:bold;
    color:#252525;
    text-align:center;
    width:260px;
}
.post_image {
    display:block;
    width:260px;
    height:130px;
}
h2 {
    font-size:26px;
    color: #252525;
    margin-bottom:0;
}
h3 {
    font-size:20px;
    color: black;
    border-bottom:2px solid #3E4349;
}
p {
    margin-bottom:1.5em;
}
/* unvisited link */
a:link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
/* visited link */
a:visited {
    color: #333;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: #666;
    text-decoration: none;
}
/* selected link */
a:active {
    color: #BBB;
    text-decoration: none;
}