{% extends "frame.html" %}
{% block pagetitle %} About {% endblock %}
{% block content %}


<p>
    I am a data analyst and software developer with strong interests in data science, visualization, and engineering;
    and in civic open data. An acute civic and open data junkie, I love working to make sense of and build useful
    results with public records data. This website is a collection space for ruminations on topics in programming, data
    science, data engineering, mathematics, and other such mischief. In my spare time I also enjoy playing tennis.
</p>

<g style="width:960px; display:block; transform:translate(-95px, 0); border:1px solid black;
border-radius:5px; overflow:hidden; padding-top:8px; margin-bottom:20px; height:1600px;">
</g>

<script src="/static/js/d3.v3.js"></script>

<script>
    d3.json("/static/json/post_list.json", function(error, dataset) {
        if (error) throw error;

        var frame = d3.select("g")
                .selectAll("a")
                .data(dataset)
                .enter();

        frame
                .append("a")
                .attr({
                    "href": function(d) { return d['route']; },
                    "class": "blog-frame navigation-link"
                })
                .append("span")
                .style({
                    "width": "320px",
                    "height": "160px",
                    "background-image": function(d) { return "url(\"/static/post_snaps/" + d['snap'] + "\")"; },
                    "background-size": "320px 160px",
                    "display": "table-cell"
                })
                .append("span")
                .style({
                    "display": "block",
                    "padding": "15px"
                })
                .text(function(d) { return d['title']; });
    });

</script>

{% endblock %}