{% extends "frame.html" %}
{% block pagetitle %} About {% endblock %}
{% block content %}


<table>
    <tr>
        <td style="vertical-align:top">
            <p>
                I studied maths in college. My junior year I fell in love with <a class="navigation-link" href="http://opendatahandbook.org/guide/en/what-is-open-data/">open data</a>. So I learned Python and got coding.
            </p>

            <p>
                I started out building civic data analyses and visualizations. Then I went about exploring the broader machine learning tooling ecosystem.
            </p>

            <p>
                Presently I am developer advocate at <a class="navigation-link" href="https://spell.ml/">Spell</a>. I've also worked at <a class="navigation-link" href="https://quiltdata.com/">Quilt Data</a>, <a class="navigation-link" href="https://www.kaggle.com/">Kaggle</a>, <a class="navigation-link" href="http://cusp.nyu.edu/">NYU CUSP</a>, and <a class="navigation-link" href="https://www1.nyc.gov/site/analytics/index.page">MODA</a>, and spent twelve weeks at the <a class="navigation-link" href="https://www.recurse.com/">Recurse Center</a>.
            </p>

            <p>
                I write in Python, JavaScript, and plain English. I'd like to pick up Haskell and Rust someday.
            </p>
        </td>
        <td style="width:270px; padding-left:20px;">
            <img src="/static/design_elements/me.png" style="width:250px;"/>
        </td>
    </tr>
</table>

{% endblock %}