{% extends "frame.html" %}
{% block pagetitle %} About {% endblock %}
{% block content %}


<table>
    <tr>
        <td style="vertical-align:top">
            <p>
    I studied applied mathematics in college. My junior year I fell in love with <a class="navigation-link" href="/2018/06/17/what-next-for-open-data.html">open data</a>. I learned Python, got coding, and haven't looked back.
</p>

<p>
    I started out building civic data analyses and visualizations. Then I went about exploring the broader data science space. I've worked at <a class="navigation-link" href="https://www1.nyc.gov/site/analytics/index.page">MODA</a>, <a class="navigation-link" href="http://cusp.nyu.edu/">NYU CUSP</a>, <a class="navigation-link" href="https://www.kaggle.com/">Kaggle</a>, and <a class="navigation-link" href="<a class="navigation-link" href="https://quiltdata.com/">Quilt Data</a>. I also spent twelve weeks at the <a class="navigation-link" href="https://www.recurse.com/">Recurse Center</a>.
</p>

<p>
    I write in Python, JavaScript, and plain English. I'd like to pick up Haskell and Rust someday.
</p>

<p>
    To keep up with my work, follow me on <a class="navigation-link" href="https://twitter.com/residentmario">Twitter</a>.
</p>
        </td>
        <td style="width:270px; padding-left:20px; vertical-align:top">
            <img src="/static/design_elements/me.jpg" style="width:250px;"/>
        </td>
    </tr>
</table>

{% endblock %}