{% extends "frame.html" %}
{% block pagetitle %} Blog {% endblock %}
{% block contenttitle %}
<h2>
{% block posttitle %}
    {{ title }}
{% endblock %}
</h2>
<!--<span id="postdate">{% block postdate %}{% endblock %}</span>-->
<span id="postdate">{{ date }}</span>

{% endblock %}

{% block extension_page_bottom %}
<!DOCTYPE html>
<meta charset="utf-8">

<script src="/static/js/d3.v3.js"></script>
<!--<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>-->
<script src="/static/js/d3.tip.js"></script>

<script>

    var mindate = new Date(2015, 10, 1);
    var maxdate = new Date(2016, 3, 1);
    var offset = 20;
    var date_scale = d3.time.scale().domain([mindate, maxdate]).range([800, 20]);
//    var x_axis = d3.svg.axis().scale(date_scale).orient("bottom").ticks(d3.time.month, 1);
    var y_pos = 15;

    var tip = d3.tip()
      .attr('class', 'd3-tip')
      .offset([-10, 0])
      .html(function(d) {
        return "<img src='/static/post_snaps/" + d['snap'] + "' style='height:200px; width:400px;'/>" +
                "<div style='padding:10px;'>" +
                d['title'] +
                "</div>";
      });

    d3.json("/static/json/post_list.json", function(error, dataset) {
        if (error) throw error;

        var frame = d3.select("g")
                .append("svg")
                .attr({
                    "width": "800px",
                    "height": "30px"
                });
        frame.call(tip);
//        frame.append("line")
//                .attr({
//                    "y1": y_pos,
//                    "y2": y_pos,
//                    "x1": offset,
//                    "x2": 800 + offset
//                })
//                .style({
//                    "stroke":"gray",
//                    "stroke-width": 5,
//                    "shape-rendering": "crispEdges"
//                });
        frame.selectAll("g")
                .data(dataset)
                .enter()
                .append("a")
                .attr({
                    "xlink:href": function(d) { return d['route']; }
//                    "xlink:title": function(d) { return d['title']; }
                })
                .append("circle")
                .attr({
                    "class": "entry",
                    "cy": y_pos,
                    "cx": function(d) {
                        console.log(d['month']);
                        var date = new Date(d['year'], d['month'], d['day']);
                        return date_scale(date) + offset; },
                    "r": 10
                })
                .style({
                    "fill": "#aaa",
                    "stroke": "#1a1a1a",
                    "stroke-width": 4
                })
                .on('mouseover', tip.show)
                .on('mouseout', tip.hide);
        frame.append("text")
                .attr({
                    "x": 0,
                    "y": 25
                })
                .style({
                    "font-style": "italic",
                    "font-size": "20px"
                })
                .text("⇐");
        frame.append("text")
                .attr({
                    "x": 780,
                    "y": 25
                })
                .style({
                    "font-style": "italic",
                    "font-size": "20px"
                })
                .text("⇒");
    });
</script>

<g>

</g>

<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url =  request.url;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = {{ id }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//alekseybilogur.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endblock %}