{% extends "frame.html" %}
{% block pagetitle %} Etcetera {% endblock %}
{% block content %}

<br/>
<p>This page is for assorted other things I've done.</p>

<h3>External Posts</h3>
<ul>
    <li>Becoming a civic technologist out of college (<a href="https://blog.codingitforward.com/becoming-a-civic-technologist-out-of-college-4bcb37f9777c">Link</a>)</li>
</ul>

<h3>Talks</h3>

<ul>
    <li>Data Visualization Blogging (<a href=
        "https://github.com/ResidentMario/data-visualization-blogging">Deck</a>)</li>

    <li>Implementing Good Design (<a href=
        "https://github.com/ResidentMario/implementing-good-design/blob/master/Implementing%20Good%20Design.pdf">Deck</a>)</li>
    <li>
        Introduction to Data Science (<a
            href="https://docs.google.com/presentation/d/1GxnMOzDq_pUpjxe9rOaNbDevH44h_zlCzMLWS6JCN5M/edit?usp=sharing">Deck</a>)
    </li>
    <li>Pi Day Presentation (<a
            href="https://docs.google.com/presentation/d/1dBfEnn96jtEXtbfHXRHBkOHt9NsIK6RjyD8E9habiLQ/edit?usp=sharing">Deck</a>)</li>
</ul>

<h3>Press</h3>

<ul>
    <li>
        Who runs the world? Data (<a
            href="https://www.amny.com/opinion/columnists/mark-chiusano/who-run-the-world-data-says-aleksey-bilogur-1.11863032">Link</a>)
    </li>
</ul>

{% endblock %}