<!DOCTYPE html>
<html lang="en">
<head>
	<link rel= "stylesheet" type= "text/css" href= "/static/app.css">
	<script type="text/javascript"
	  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>
	 <link rel="icon" type="image/x-icon" href="/static/code-writer-black.svg" />
    <title>
    Aleksey Bilogur—
    {% block pagetitle %}
	{% endblock %}
	</title>
</head>

<body>
	<div id="header">
		{% block headertitle %} Aleksey Bilogur {% endblock %}&nbsp;
		<img src="/static/code-writer.svg" style="height:65px; position:absolute; top:5px"/>
	</div>
	</div>
	<div id="navbar">
	<div style="float:left"><a href="/">About</a>&nbsp;&nbsp;<img src="/static/vertbar.svg" style="height:30px"/>&nbsp;&nbsp;<a href="/2015/09/31/an-exercise-in-probability.html">Blog</a></div>
		<div style="float:right; padding-top:11px">
				<a href="https://github.com/ResidentMario"><img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" style="max-height:25px"/></a>
				<a href="https://en.wikipedia.org/wiki/User:Resident_Mario"><img src="https://upload.wikimedia.org/wikipedia/en/2/28/WikipediaMobileAppLogo.png" style="max-height:25px"/></a>
				<a href="https://www.linkedin.com/pub/aleksey-bilogur/94/6a9/95"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e9/Linkedin_icon.svg" style="max-height:25px"/></a>
		</div>
		<br/>
	</div>
	<div id="frame">
		<div id="content">
			{% block contenttitle %}
			{% endblock %}
			{% block content %}

			Hello world!

			{% endblock %}
		</div>
		{% block extension_page_bottom %}
		{% endblock %}
		<div id="footer">
			<div style="float:right">{% block footer %} © Aleksey Bilogur 2015&mdash;<a href="https://github.com/ResidentMario/mysite">View Source</a>&mdash;<a href="mailto:aleksey.bilogur@baruchmail.cuny.edu">Contact</a>{% endblock %}</div>
		</div>
	</div>
	<br clear="all"/>
</body>
</html>