<!DOCTYPE html>
<html lang="en">
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{request.url_root}}static/css/app.css">
	<link rel= "stylesheet" type= "text/css" href= "/static/css/roboto.css">
	<link rel="icon" type="image/x-icon" href="/static/design_elements/code-writer-black.png"/>
    <link rel="alternate" type="application/rss+xml" title="Data Hacks Feed" href="{{request.url_root}}feed" />
    {% block scripts %}
    {% endblock %}
    <title>
    Aleksey Bilogur—
    {% block pagetitle %}
	{% endblock %}
	</title>
</head>

<body>
	<div id="header">
		{% block headertitle %} Aleksey Bilogur {% endblock %}&nbsp;
		<img src="/static/design_elements/code-writer.svg" alt="Icon." style="height:65px; position:absolute; top:5px"/>
	</div>
	<div id="navbar">
	<div style="float:left; font-size:18px; margin-top:12px;">
        {% if request.path != '/' %}
            <a href="/" class="navigation-link">about</a>
        {% else %}
            about
        {% endif %}
        &nbsp;&nbsp;
        {% if request.path != '/portfolio.html' %}
            <a href="/portfolio.html" class="navigation-link">portfolio</a>
        {% else %}
            portfolio
        {% endif %}
        &nbsp;&nbsp;
        {% if request.path != '/blog.html' %}
            <a href="/blog.html" class="navigation-link">blog</a>
        {% else %}
            blog
        {% endif %}
        &nbsp;&nbsp;
        {% if request.path != '/advocacy.html' %}
            <a href="/advocacy.html" class="navigation-link">advocacy</a>
        {% else %}
            advocacy
        {% endif %}
        &nbsp;&nbsp;
        <a href="https://github.com/residentmario" class="navigation-link">github</a>&nbsp;&nbsp;
        <a href="https://twitter.com/residentmario" class="navigation-link">twitter</a>&nbsp;&nbsp;
    </div>
	</div>
	<div id="frame">
		<div id="content">
			{% block contenttitle %}
			{% endblock %}
			{% block content %}

			Hello world!

			{% endblock %}
		</div>
		{% block extension_page_bottom %}
		{% endblock %}
	</div>
</body>
</html>