<!DOCTYPE html>
<!--{% set most_recent_blog_post_url = request.url_root + "2016/02/20/wikmedia-foundation-turnover.html" %}-->
<html lang="en">
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{request.url_root}}static/css/app.css">
	<link rel= "stylesheet" type= "text/css" href= "/static/css/roboto.css">
	<link rel="icon" type="image/x-icon" href="/static/design_elements/code-writer-black.png"/>
    <link rel="alternate" type="application/rss+xml" title="Data Hacks Feed" href="{{request.url_root}}feed" />
    {% block scripts %}
    {% endblock %}
    <title>
    Aleksey Bilogur—
    {% block pagetitle %}
	{% endblock %}
	</title>
</head>

<body>
	<div id="header">
		{% block headertitle %} Aleksey Bilogur {% endblock %}&nbsp;
		<img src="/static/design_elements/code-writer.svg" alt="Icon." style="height:65px; position:absolute; top:5px"/>
	</div>
	<div id="navbar">
	<div style="float:left; font-size:18px; margin-top:12px;">
        <a href="/" class="navigation-link">home</a>&nbsp;&nbsp;
		<a href="/blog.html" class="navigation-link">blog</a>&nbsp;&nbsp;
        <a href="projects.html" class="navigation-link">projects</a>&nbsp;&nbsp;
        <a href="https://github.com/residentmario" class="navigation-link">github</a>&nbsp;&nbsp;
        <a href="https://twitter.com/residentmario" class="navigation-link">twitter</a>&nbsp;&nbsp;
        <a href="/matrix.html" class="navigation-link">matrix</a>&nbsp;&nbsp;
        <a href="/about.html" class="navigation-link">about</a>&nbsp;&nbsp;
    </div>
	</div>
	<div id="frame">
		<div id="content">
			{% block contenttitle %}
			{% endblock %}
			{% block content %}

			Hello world!

			{% endblock %}
		</div>
		{% block extension_page_bottom %}
		{% endblock %}
	</div>
</body>
</html>