{% extends "frame.html" %}
{% block pagetitle %} About {% endblock %}
{% block content %}

<b>Recent writing</b>
<ul class="nav-worklist" style="margin-bottom:50px;">
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3</li>
    <li><i><a class="navigation-link" href="./blog.html">more →</a></i></li>
</ul>


<b>Recent projects</b>
<ul class="nav-worklist">
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3</li>
    <li><i><a class="navigation-link" href="./projects.html">more →</a></i></li>
</ul>

{% endblock %}