<!DOCTYPE html>
<meta charset="utf-8">

<style>
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
</style>

<script src="//d3js.org/d3.v3.js"></script>

<script>

    // The color ramp is used to set the background color on the images and thusly to color the rockets according to
    // damage recieved.
    var color_ramp = d3.scale.linear().domain([0,12]).range(["#ffffff","#ff1a1a"]);
    // The axis scale is used to display the axis on the bottom of the visualization.
    // The actual elements are div and img though! The axis appears on the SVG overleaf.
    // To center the scale with respect to the rockets we add 16, one half of the width of the rockets, into the scale.
    var axis_scale = d3.scale.linear().domain([53,81]).range([32 + 16, 928 + 16]);
    var x_axis = d3.svg.axis().scale(axis_scale).orient("bottom").ticks(30);

    d3.json("../static/challenger_data.json", function(error, dataset) {
        if (error) throw error;

        var frame = d3.select("body")
                .append("div")
                .style({
                    "width": "960px",
                    "height": "450px",
                    "position": "relative"
                    // CSS trick: https://css-tricks.com/absolute-positioning-inside-relative-positioning/
                    // Positioning absolute elements within a relative element causes the absolutely positioned
                    // elements to respect the frame that they are in!
                });

        frame.selectAll("span")
                .data(dataset)
                .enter()
                .append("span")
                .style({
                    "position": "absolute",
                    "width": "30px",
                    "height": "120px",
                    "left": function(d) { console.log(d[2]); return d[2] + "px"; },
                    "bottom": function(d) { console.log(d[3]); return d[3] + "px"; }
                })
                .append("img")
                .attr({
                    "src": "../static/Shuttle Booster Diagram Simplified.svg",
                    "width": "30px"
                })
                .style({
                    "background-color": function(d) { return color_ramp(d[0]); }
                });

        var svg = frame.append("svg")
                .attr({
                    "width": 960,
                    "height": 450
                });

        svg.append("g")
                .attr({
                    // Activate CSS selectors.
                    "class": "axis",
                    // Move the axis to the bottom.
                    "transform": "translate(0,430)"
                })
                .call(x_axis);

        svg.append("text")
                .attr({
                    "x": 480,
                    "y": 20,
                    "font-family": "sans-serif",
                    "font-weight": "bold",
                    "text-anchor": "middle",
                    "font-size": 20
                })
                .text("O-Ring Damage Sustained by Launch Temperature (°F)");
    });

</script>

<body>

</body>